<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/about.css}" type="text/css">
    <link rel="stylesheet" th:href="@{CSS/css/fontawesome/all.min.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{images/icon2.png}">
    <title>Cosmo-Electronics</title>
</head>
<body>
<header>

    <div class="header_bg"></div>

    <a th:href="@{/mainpage}" class="logo"><img th:src="@{/images/logo1.png}"></a>

    <div class="header_item headerlogo"></div>
    <div class="mycart-desc"><p>My Cart</p></div>
    <a th:href="@{/myCart}" class="cart"> <i class="fas fa-cart-arrow-down"></i> </a>
    <div class="phone" align="right"><i class="fa fa-phone"></i> 022-77-43-16</div>
    <div class="viber" align="right"><i class="fab fa-viber"></i> 022-78-34-16</div>
    <div class="d5">
    </div>
    <div class="menu-back">
        <div class="border">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/mainpage}">Main page</a></li>
                    <li><a th:href="@{/list}">Goods</a></li>
                    <li><a th:href="@{/delivery}">Delivery</a></li>
                    <li><a th:href="@{/aboutUs}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<div class="contactInfo">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30769.45197437538!2d28.890096772369258!
3d47.02725850656877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c34984111bb%3A0x871343440f2efd79!
2z0J_QsNC80Y_RgtC90LjQuiDQqNGC0LXRhNCw0L3RgyDRh9C10Lsg0JzQsNGA0LU!5e0!3m2!1sru!2s!4v1578402908394!5m2!1sru!2s"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>

<div class="contacts">
    <div class="title">Information and contacts</div>
    <br><br>
    <div class="item">
        <div class="icon icon-location"></div>
        R. Moldova, or. Chisinau,<br/>
        str. Mateevici, 60 , Bloc 4
    </div>
    <div class="item">
        <div class="icon icon-phone"></div>
        +(373) 022-77-43-16
    </div>
    <div class="item">
        <div class="icon icon-email"></div>
        <a href="#">cosmoElectronics@gmail.ru</a>
    </div>
</div>

<div class="footer"></div>

<div class="footermenu1">
    <br/>
    <H3 id="t">For Customer</H3>
    <ul>
        <li type="circle"><a href="#" title="How to place an orders on the site">How to place an orders on the site</a>
        </li>
        <br/>
        <li type="circle"><a href="#" title="Delivery">Delivery</a></li>
        <br/>
        <li type="circle"><a href="#" title="Installment and loan">Installment and loan</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bonus Card">Bonus Card</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bank transfer payment">Bank transfer payment</a></li>
    </ul>
</div>
<div class="footermenu2">
    <h3 id="t2">Services</h3>
    <ul>
        <li type="circle"><a href="#" title="warranty service">Warranty service</a></li>
        <br/>
    </ul>
</div>


<div class="footermenu3">
    <h3 id="t3">About company</h3>
    <ul>
        <li type="circle"><a href="#" title="Contacts">Contacts</a></li>
        <br/>
        <li type="circle"><a href="#" title="Work in our company">Work in our company</a></li>
        <br/>
        <li type="circle"><a href="#" title="About us">About us</a></li>
    </ul>
</div>


<div class="footermenu4">
    <h3 id="t4">Payment Methods</h3>
    <img th:src="@{/images/mastercard.png}" id="master">
    <img th:src="@{/images/visa.png}" id="visa">
    <img th:src="@{/images/webmoney.png}" id="webmoney">
</div>

<div class="footer2">
    <p>Copyright Cosmo-Electronics 2019-2020 </p>
</div>

<h3 id="t5">Join Us</h3>


<div class="mycontainer">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-vk"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
</div>
</body>
</html>