<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/delivery.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/CSS/css/fontawesome/all.min.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{images/icon2.png}">
    <title>Cosmo-Electronics</title>
</head>
<body>
<header>

    <div class="header_bg"></div>

    <a th:href="@{/mainpage}" class="logo"><img th:src="@{/images/logo1.png}"></a>

    <div class="header_item headerlogo"></div>
    <div class="mycart-desc"><p>My Cart</p></div>
    <a th:href="@{/myCart}" class="cart"> <i class="fas fa-cart-arrow-down"></i> </a>
    <!--    <a th:href="@{/myCart}"> <button class="cart">My Cart</button> </a>-->
    <!--    <a href="registration.html" class="registration">Registration</a>-->
    <!--    <a href="#" class="userAccount">Account </a><br>-->
    <div class="phone" align="right"><i class="fa fa-phone"></i> 022-77-43-16</div>
    <div class="viber" align="right"><i class="fab fa-viber"></i> 022-78-34-16</div>
    <div class="d5">
    </div>
    <div class="menu-back">
        <div class="border">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/mainpage}">Main page</a></li>
                    <li><a th:href="@{/list}">Goods</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a th:href="@{/aboutUs}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!---->
<div class="shopBody">
    <div class="parDesc">
        <H3>In Stock, Same Day Shipping</H3>
    </div>
    <div class="text">
        <p> This product is in stock in our warehouse. You have a choice of Ground Service, 2nd Day Air, or Overnight
            Delivery for domestic orders.

            Second day and overnight orders placed before 8 pm EST will ship the same business day.
            All other shipping methods placed before 6 pm EST will ship the same day.
            An additional delivery charge will be added at checkout for orders delivered to Alaska and Hawaii.
            During checkout you will see the delivery charge confirmed once your delivery address has been entered.</p>

        <p>
            International delivery charges, including PR and USVI, are determined at checkout after the delivery charge
            is entered.
            Orders shipped to AZ, CA, CT, GA, IN, IL, PA, TN, TX, NV, and WA are subject to state and local sales tax,
            as applicable.
            CosmoElectronics.com does not deliver on weekends and major holidays.
            Overnight Delivery is not available in all locations, including remote areas such as Hawaii and Alaska.
            To confirm your shipping destination is supported, please email one of our friendly
            Customer Service Associates at service@cs.Cosmo.com for assistance.
        </p>

        <p>
            Overseas orders are shipped for delivery in approximately 48-72 hours after the order is placed.
            To estimate delivery times for overseas orders, add approximately 24-48 hours to domestic (within the U.S.)
            delivery estimates.
            Please also allow time for local customs clearance. International delivery costs are kept to a minimum.

            In stock items are subject to availability and are shipped on a first-come, first-served basis.</p>
    </div>
    <div class="parDesc">
        <H3>Unavailable</H3>
    </div>
    <div class="text">
        <p>
            This product is currently unavailable for shipping.
            If you would like suggestions for similar products, please contact our sales department at
            sales@cs.Cosmo.com for assistance.
            CosmoElectronics.com ships on a first-come, first-served basis.
        </p>
    </div>

    <div class="parDesc">
        <H3>Preorder</H3>
    </div>
    <div class="text">
        <p>
            This product is available for pre-order.
            By pre-ordering you can receive new products shortly after the manufacturer releases them.
            In most cases, pre-order items will ship one day before the estimated manufacturer release date.
            For the estimated manufacturer release date, check the Product Description page
            (from a search listing, click on the name of the product).
        </p>
        <p>
            Once the manufacturer releases the product and we have it in stock, we will begin shipping pre-orders using
            the method selected by the customer. CosmoElectronics.com does not ship on Saturday, Sunday, or major
            holidays.
            A credit card authorization will be processed when your pre-order is placed.
            However, your credit card will not be charged until the product is shipped.
        </p>
    </div>
</div>

<!---->

<div class="footer"></div>

<div class="footermenu1">
    <br/>
    <H3 id="t">For Customer</H3>
    <ul>
        <li type="circle"><a href="#" title="How to place an orders on the site">How to place an orders on the site</a>
        </li>
        <br/>
        <li type="circle"><a href="#" title="Delivery">Delivery</a></li>
        <br/>
        <li type="circle"><a href="#" title="Installment and loan">Installment and loan</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bonus Card">Bonus Card</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bank transfer payment">Bank transfer payment</a></li>
    </ul>
</div>
<div class="footermenu2">
    <h3 id="t2">Services</h3>
    <ul>
        <li type="circle"><a href="#" title="warranty service">Warranty service</a></li>
        <br/>
    </ul>
</div>

<div class="footermenu3">
    <h3 id="t3">About company</h3>
    <ul>
        <li type="circle"><a href="#" title="Contacts">Contacts</a></li>
        <br/>
        <li type="circle"><a href="#" title="Work in our company">Work in our company</a></li>
        <br/>
        <li type="circle"><a href="#" title="About us">About us</a></li>
    </ul>
</div>


<div class="footermenu4">
    <h3 id="t4">Payment Methods</h3>
    <img th:src="@{/images/mastercard.png}" id="master">
    <img th:src="@{/images/visa.png}" id="visa">
    <img th:src="@{/images/webmoney.png}" id="webmoney">
</div>

<div class="footer2">
    <p>Copyright Cosmo-Electronics 2019-2020 </p>
</div>


<div class="mycontainer">
    <h3 id="t5">Join Us</h3>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-vk"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
</div>