<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/CSS/css/fontawesome/all.min.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{images/icon2.png}">
    <title>Cosmo-Electronics</title>
</head>
<body>
<header>

    <div class="header_bg"></div>

    <a th:href="@{/mainpage}" class="logo"><img th:src="@{/images/logo1.png}"></a>

    <div class="header_item headerlogo"></div>
    <div class="mycart-desc"><p>My Cart</p></div>
    <a th:href="@{/myCart}" class="cart"> <i class="fas fa-cart-arrow-down"></i> </a>
    <div class="phone" align="right"><i class="fa fa-phone"></i> 022-77-43-16</div>
    <div class="viber" align="right"><i class="fab fa-viber"></i> 022-78-34-16</div>
    <div class="d5">
    </div>
    <div class="menu-back">
        <div class="border">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/mainpage}">Main page</a></li>
                    <li><a th:href="@{/list}">Goods</a></li>
                    <li><a th:href="@{/delivery}">Delivery</a></li>
                    <li><a th:href="@{/aboutUs}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="all">
    <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
        <input type="radio" name="slider" id="switch4">
        <input type="radio" name="slider" id="switch5">
        <div id="slides">
            <div id="overflow">
                <div class="image">
                    <article><img th:src="@{/images/recl.jpg}" class="imag_showing" alt="img"></article>
                    <article><img th:src="@{/images/rec2.jpg}" class="imag" alt="img"></article>
                    <article><img th:src="@{/images/rec3.jpg}" class="imag" alt="img"></article>
                    <article><img th:src="@{/images/rec4.jpg}" class="imag" alt="img"></article>
                    <article><img th:src="@{/images/rec5.jpg}" class="imag" alt="img"></article>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
    </article>
</div>

<section class="short-news">
    <section>
        <h3>Company News</h3>
        <a href="#" class="all-news fr">All News</a>
        <ul>
            <li>
                <span class="date">30.12.2019</span>
                <a href="#" class="title">Schedule for the New Year holidays</a>
                <div class="annotation">
                    <p>30 dec - to 17:00</p>
                    <p>December 1 - from 10:00 to 13:00</p>
                    <p>January 1 and 2 - store will not work!</p>
                    <p>3, 4 and 5 january - from 10:00 to 17:00</p>
                    <p>6 january - from 10:00 to 13:00</p>
                    <p>7 january - store will not work</p>
                    <p></p>
                    <p>Happy New Year!</p>
                </div>
            </li>
            <li>
                <span class="date">23.11.2019</span>
                <a href="#" class="title">Inventorization (November)</a>
                <br class="annotation">
                <p>Dear Customers!&nbsp;</p>
                <p>November 24 the store will be closed for inventory.</p>
                <p>Big discounts are expected on New Year's holidays.</p>
                </div>
            </li>
            <li class="clear"></li>
            <li>
                <span class="date">30.08.2019</span>
                <a href="#" class="title">Work schedule for the holidays</a>
                <div class="annotation">
                    <p>Dear friends!<br/>
                        <br/>
                    <p>We inform you that &nbsp; September 2 is a day of rest</p>
                    <p>
                        <span>The online store is open seven days a week, all orders will be processed the same day</span><br/>
                        <br/><br/></p>
                </div>
            </li>
            <li>
                <span class="date">26.04.2019</span>
                <a href="#" class="title">Work schedule for the May holidays</a>
                <div class="annotation">
                    <p>Dear friends!</p>
                    <br>We inform you that the working hours of our store are as follows:<br/>

                    from April 28 to May 2 and May 5.6 are days off</br>
                    <p> May 3.4 from 10-00 to 17-00</p>
                    <p>The online store is open seven days a week, all orders will be processed the same day</p>
                </div>
            </li>

            <li class="clear"></li>
        </ul>
    </section>

</section>
<section class="info">
    <h3>Interesting information</h3>
    <a href="#" class="all-news fr">VIEW ALL</a>
    <ul class="news-tile">
        <li>
            <a href="#" title="Top 10 Online stores">
                <img th:src="@{/images/onlineStores.jpg}" alt="">
                <span>Top 10 Online stores</span>
            </a>
        </li>
        <li>
            <a href="#" title="How much RAM need modern PC?">
                <img th:src="@{/images/interesting4.jpg}" alt="">
                <span>How much RAM need modern PC?</span>
            </a>
        </li>
        <li>
            <a href="#" title="PC 'build' guide - Video Card">
                <img th:src="@{/images/interesting3.png}" alt="">
                <span>PC 'build' guide - Video Card</span>
            </a>
        </li>
        <li>
            <a href="#" title="PC 'build' guide - Motherboard">
                <img th:src="@{/images/interesting1.png}" alt="">
                <span>PC 'build' guide - Motherboard</span>
            </a>
        </li>
        <li>
            <a href="#" title="PC 'build' guide - CPU">
                <img th:src="@{/images/interesting2.png}" alt="">
                <span>PC 'build' guide - CPU</span>
            </a>
        </li>
        <li>
            <a href="#" title="Tips for choosing a home router">
                <img th:src="@{/images/interesting5.jpg}" alt="">
                <span>Tips for choosing a home router</span>
            </a>
        </li>
    </ul>
</section>

<div class="footer"></div>

<div class="footermenu1">
    <br/>
    <H3 id="t">For Customer</H3>
    <ul>
        <li type="circle"><a href="#" title="How to place an orders on the site">How to place an orders on the site</a>
        </li>
        <br/>
        <li type="circle"><a href="#" title="Delivery">Delivery</a></li>
        <br/>
        <li type="circle"><a href="#" title="Installment and loan">Installment and loan</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bonus Card">Bonus Card</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bank transfer payment">Bank transfer payment</a></li>
    </ul>
</div>
<div class="footermenu2">
    <h3 id="t2">Services</h3>
    <ul>
        <li type="circle"><a href="#" title="warranty service">Warranty service</a></li>
        <br/>
    </ul>
</div>


<div class="footermenu3">
    <h3 id="t3">About company</h3>
    <ul>
        <li type="circle"><a href="#" title="Contacts">Contacts</a></li>
        <br/>
        <li type="circle"><a href="#" title="Work in our company">Work in our company</a></li>
        <br/>
        <li type="circle"><a href="#" title="About us">About us</a></li>
    </ul>
</div>


<div class="footermenu4">
    <h3 id="t4">Payment Methods</h3>
    <img th:src="@{/images/mastercard.png}" id="master">
    <img th:src="@{/images/visa.png}" id="visa">
    <img th:src="@{/images/webmoney.png}" id="webmoney">
</div>

<div class="footer2">
    <p>Copyright Cosmo-Electronics 2019-2020 </p>
</div>


<div class="mycontainer">
    <h3 id="t5">Join Us</h3>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-vk"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
</div>

</body>
</html>