<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/reg.css}" type="text/css">
    <link rel="stylesheet" th:href="@{CSS/css/fontawesome/all.min.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{images/icon2.png}">
    <title>Cosmo-Electronics</title>
</head>
<body>
<header>

    <div class="header_bg"></div>
    <a th:href="@{/mainpage}" class="logo"><img th:src="@{/images/logo1.png}"></a>
    <div class="header_item headerlogo"></div>
    <a href="#" class="userAccount">Account </a><br>
    <div class="phone" align="right"><i class="fa fa-phone"></i>Phone Number: 022-77-43-16</div>
    <div class="d5">
    </div>
    <div class="menu-back">
        <div class="border">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/mainpage}">Main page</a></li>
                    <li><a th:href="@{/list}">Goods</a></li>
                    <li><a th:href="@{/delivery}">Delivery</a></li>
                    <li><a th:href="@{/aboutUs}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<label class="title11">Registration</label>
<div class="regform">

    <form method="POST" th:object="${newUser}" th:action="@{/user/registration}">

        <div class="fname">
            <label>Name :</label>
            <input type="text" name="firstname" placeholder="First Name" th:field="*{firstName}">
            <br>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                  style="font-family: Calibri; margin-left:14%; color:darkred"></span>
        </div>
        <br>

        <div class="lname">
            <label>Surname :</label>
            <input type="text" name="lastname" placeholder="Last Name" th:field="*{lastName}">
            <br>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                  style="font-family: Calibri; margin-left:20%; color:darkred"></span>
        </div>
        <br>
        <div class="login">
            <label>Login :</label>
            <input type="text" name="login" placeholder="login" th:field="*{login}">
            <br>
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                  style="font-family: Calibri; margin-left:14%; color:darkred"></span>
        </div>
        <br>
        <div class="pass">
            <label>Password :</label>
            <input type="password" name="pass" placeholder="password" th:field="*{password}">
            <br>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                  style="font-family: Calibri; margin-left:14%; color:darkred"></span>
        </div>
        <br>
        <div class="rpass">
            <label>Repeat Password :</label>
            <input type="password" name="rpass" placeholder="password" th:field="*{repeatedPass}">
        </div>
        <br>
        <div class="addr">
            <label>Address :</label>
            <input type="text" name="address" placeholder="Address" th:field="*{address}">
        </div>
        <div class="city">
            <label>City :</label>

            <select th:field="*{city}">
                <option th:each="city :${cities}" th:value="${city.getCityID().intValue()}"
                        th:text="${city.getCityDesc()}"></option>
            </select>
        </div>
        <br>

        <input type="submit" name="regSubmit" value="Send" class="sub11">
        <p th:text="${message}"></p>
    </form>
</div>


<div class="footer"></div>

<div class="footermenu1">
    <br/>
    <H3 id="t">For Customer</H3>
    <ul>
        <li type="circle"><a href="#" title="How to place an orders on the site">How to place an orders on the site</a>
        </li>
        <br/>
        <li type="circle"><a href="#" title="Delivery">Delivery</a></li>
        <br/>
        <li type="circle"><a href="#" title="Installment and loan">Installment and loan</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bonus Card">Bonus Card</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bank transfer payment">Bank transfer payment</a></li>
    </ul>
</div>
<div class="footermenu2">
    <h3 id="t2">Services</h3>
    <ul>
        <li type="circle"><a href="#" title="warranty service">Warranty service</a></li>
        <br/>
    </ul>
</div>


<div class="footermenu3">
    <h3 id="t3">About company</h3>
    <ul>
        <li type="circle"><a href="#" title="Contacts">Contacts</a></li>
        <br/>
        <li type="circle"><a href="#" title="Work in our company">Work in our company</a></li>
        <br/>
        <li type="circle"><a href="#" title="About us">About us</a></li>
    </ul>
</div>


<div class="footermenu4">
    <h3 id="t4">Payment Methods</h3>
    <img th:src="@{/images/mastercard.png}" id="master">
    <img th:src="@{/images/visa.png}" id="visa">
    <img th:src="@{/images/webmoney.png}" id="webmoney">
</div>

<div class="footer2">
    <p>Copyright Cosmo-Electronics 2019-2020 </p>
</div>

<h3 id="t5">Join Us</h3>


<div class="mycontainer">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-vk"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
</div>
</body>
</html>