body {
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 0;
    height: 500px;
    max-width: 100%;
}

.shopBody {
    width: 1275px;
    height: 1100px;
    display: block;
    background-color: white;
    border-bottom: 1px solid #0d6cbd;
    border-top: 2px solid #0d6cbd;
    margin-left: 300px;
    margin-top: -10px;
}

.header_bg {
    display: block;
    padding: 15px;
    height: 200px;
    background-color: whitesmoke;
    opacity: 0.6;
    font-family: 'Raleway';
}

.logo {
    margin: 0px 950px;
    margin-left: 320px;
    top: -165px;
    opacity: 1;
    position: absolute;
}

.author {
    position: absolute;
    margin: -120px 1610px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(0, 0, 0);
    box-shadow: 0 -3px rgb(70, 130, 180) inset;
    transition: 0.2s;
}

.registration {
    margin: -120px 1440px;
    position: absolute;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(0, 0, 0);
    box-shadow: 0 -3px rgb(70, 130, 180) inset;
    transition: 0.2s;
}

.author:focus {
    background-color: dimgrey;
}

.author:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);
    box-shadow: 1px 5px 10px -5px black;
    background-color: dodgerblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
}

.registration:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);
    box-shadow: 1px 5px 10px -5px black;
    background-color: dodgerblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
}

.userAccount {
    margin: -120px 1300px;
    position: absolute;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(0, 0, 0);
    box-shadow: 0 -3px rgb(70, 130, 180) inset;
    transition: 0.2s;
}

.userAccount:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);
    box-shadow: 1px 5px 10px -5px black;
    background-color: dodgerblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.phone {
    position: absolute;
    size: 28px;
    margin: -90px 1360px;
    margin-left: 40px 0px;
    font-size: 20px;
    white-space: pre;
    font-size: 25px;
    font-family: monospace;
    opacity: 1;
}

.menu-back {
    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.menu {
    margin-top: 20px;
    margin-right: 70px;

}

.menu ul {

    list-style: none;
    margin-top: -20px;
    width: 100%;
}

.menu > ul {
    display: flex;
    justify-content: center;
}

.menu > ul li a {

    text-align: center;
    width: 318px;
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69, 72, 77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0); /* IE6-9 */
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.menu > ul li {
    position: relative;
    border-right: 1px solid white;
}

.menu > ul li > a i.fa {
    position: absolute;
    left: 10px;
    font-size: 18px;
}

.menu > ul li:first-child {
    border-left: 1px solid white;
}

.menu > ul li:last-child {
    border-right: 1px solid white;
}

.menu li a:hover {
    background: dodgerblue;
    color: black;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.4s ease;
}

.menu li ul {
    margin: 0px -41px;
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li {
    border: 1px solid white;
}

.menu li > ul li a {
    padding: 10px;
    text-transform: none;
}

.menu li > ul li ul {
    position: absolute;
    right: -110px;
    top: -1px;
}

.menu li:hover > ul {
    display: block;
}

.footer2 {

    color: white;
    font-weight: 700;
    background-color: #bbbbbb;
    text-align: center;
    bottom: 5%;
    padding: 1px 0 0;
    line-height: 50px;
    margin-top: 70px;
}

.footer {

    height: 300px;
    background-color: #d9dde9;
    border-top: #2c536c solid 1px;
    /*margin-top: 1000px;*/

}

.footermenu1 {
    margin-top: -300px;

}

.footermenu1 ul {
    padding-left: 200px;

}

.footermenu1 ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 43px;
    position: relative;
}

#t {
    padding-left: 200px;
}

.footermenu2 {
    margin-top: -220px;
}

.footermenu2 ul {
    padding-left: 650px;

}

.footermenu2 ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 43px;
    position: relative;
}

#t2 {
    padding-left: 650px;
}

.footermenu3 {
    margin-top: -100px;
}

.footermenu3 ul {
    padding-left: 1000px;

}

.footermenu3 ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 43px;
    position: relative;
}

#t3 {
    padding-left: 1000px;
}

#t4 {
    padding-left: 1450px;
    top: 200px;
}

.footermenu4 {
    text-decoration: none;
    color: black;
    padding-bottom: -13px;
    position: relative;

}

#master {
    padding-left: 1400px;
    margin-bottom: auto;
    position: absolute;
}

#visa {
    padding-left: 1500px;
    margin-bottom: -500px;
    padding-top: 12px;
    position: absolute;
}

#webmoney {
    padding-left: 1600px;
    margin-bottom: auto;
    position: absolute;
}

#t5 {
    position: absolute;
    margin-right: -115px;
    margin-top: -350px;
}


.mycontainer {
    position: absolute;
    left: 1530px;
    margin-top: -270px;
    transform: translate(-50%, -50%);
}

.mycontainer a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #f1f1f1;
    margin: 5px;
    border-radius: 30%;
    text-align: center;
}

.mycontainer a i {
    color: #0088CC;
    font-size: 20px;
    margin-top: 15px;
}

.mycontainer a:hover {
    background: #0088CC;
    transition: 1s;
}

.mycontainer a:hover i {
    color: #f1f1f1;
    transition: 1s;
    transform: scale(1.3);

}

.footermenu1 ul li:hover a {
    color: #0088CC;
    padding-bottom: 43px;
    position: relative;
    font-weight: bold;
}

.footermenu2 ul li:hover a {
    color: #0088CC;
    padding-bottom: 43px;
    position: relative;
    font-weight: bold;
}

.footermenu3 ul li:hover a {
    color: #0088CC;
    padding-bottom: 43px;
    position: relative;
    font-weight: bold;
}

.title {
    color: #0088CC;

    position: relative;
    font-weight: bold;
}

.filter1 {
    width: 300px;
    height: 300px;
    background-color: #d9dde9;

    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}

.title1 {

    position: absolute;
    padding-left: 120px;
}

.content {
    padding-top: 10px;
}

.price {
    padding-top: 50px;
}

.filtertitle {
    background-color: #0d6cbd;
    color: white;
    text-align: center;
    height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Calibri;
    padding-top: 7px;
}


.priceslider {
    background-color: #d9dde9;
    width: 300px;
    height: 600px;
    margin-left: 50px;
}

#slider-range {
    position: absolute;
    margin-left: 25px;
    width: 250px;
    background: dodgerblue;

}


.output {
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

#prsub {
    width: 250px;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1em calc(.6em + 3px);

    background: grey;
    transition: 0.2s;
    border-radius: 20px;
}

#prsub:hover {
    background: dodgerblue;
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;

}

#text {
    font-weight: 700;

}

.ui-slider .ui-slider-handle {

    width: 24px;

    height: 24px;

    position: absolute;

    top: -7px;

    margin-left: -12px;

    z-index: 200;

    background: url('../images/slidehandle.png');

}

#amount1 {
    margin-left: 70px;
    width: 40px;
    height: 30px;
    padding-left: 5px;
}

#amount2 {

    width: 40px;
    height: 30px;
    padding-left: 5px;
}


.ui-widget-header {

    background: lightgreen;

    height: 8px;

    left: 1px;

    top: 1px;

    position: absolute;

}


.title2 {
    position: absolute;
    margin-left: 100px;
    margin-top: 90px;
}

.categories {
    position: absolute;
    margin-top: 120px;
    margin-left: 50px;

}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    padding-left: 15px;

}

/*input[type=checkbox] {*/
/*    display: none;*/
/*}*/

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.4em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}


.cat {
    padding-top: 150px;
    padding-left: 50px;

}

.cat input[type=submit] {
    width: 250px;
    position: absolute;
    margin-left: 35px;
    margin-top: 150px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1em calc(.6em + 3px);
    background: grey;
    transition: 0.2s;
    border-radius: 20px;
}


#sub1:hover {
    background: dodgerblue;
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;

}


.firm input[type=checkbox] + label:active:before {
    transform: scale(0);
}

.firm input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

.firm input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

.firm input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}


.box {
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
    transform: translate(-50%, -50%);
}

.box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background: url('../images/arrow.png') no-repeat 96% 50%;
    background-size: 25px;
    background-color: #055086;
    width: 200px;
    border: 3px solid #0d6cbd;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;

}

.box select::-ms-expand {
    display: none;
}

.sidebar {
    background-color: #d9dde9;
    width: 300px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
    border: #0d6cbd 1px solid;
}

.firmtitle {
    padding-left: 125px;
    padding-top: 10px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #0084ff;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #0084ff;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pricesort {
    margin-top: 100px;
    margin-left: 60px;
}

.title3 {
    margin-left: 40px;
    padding-bottom: -5px;
}


.goods-panel {
    width: 1350px;
    height: 1460px;
    position: absolute;
    margin-left: 315px;
    margin-top: -725px;

}

.panel {
    background-color: white;
    /*border: gray 1px solid;*/
    width: 270px;
    height: 452px;
    border: dodgerblue 2px solid;

}

/*.panel:hover{*/
/*    border: red 2px solid;*/
/*}*/

.sale {
    position: relative;
    padding-top: -120px;
    width: 128px;
    transform: rotate(-45deg);
    top: -9.5%;
    left: -15.6%;
}

.saletitle {
    color: white;
    position: relative;
    font-family: Arial;
    font-weight: 700;
    transform: rotate(-45deg);
    top: -44%;
    left: -11%;
    font-size: 12px;
    text-transform: uppercase;

}

.panel .img {
    position: absolute;
    font-size: 0;
    line-height: 0;
    margin-top: -100px;
    margin-left: 20px;
    text-align: center;
}

.panel .product-link {
    position: relative;
    top: 90px;
    font-size: 14px;
    padding-left: 50px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-family: Arial;
}

.panel .product-link a:hover {
    color: dodgerblue;
}

.panel .price {
    position: relative;
    top: 70px;
    left: 30px;
    color: #F8484A;
    font-size: 24px;
    font-weight: 700;
}

.panel .price strike {

    color: #F8484A;
    font-size: 18px;

}

.panel a, .panel span {
    display: block;
}

.panel .AddToCart button {
    position: relative;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    top: 100px;
    left: 70px;
    background-color: #bbbbbb;
    color: #2c536c;
    font-family: Calibri;
    font-size: 12px;
    font-weight: 700;
}

.panel .AddToCart button:hover {
}


.cart {
    margin: -160px 1430px;
    position: absolute;
    font-size: 50px;

}

.mycart-desc {
    position: absolute;
    margin: -135px 1365px;
    width: 70px;
    font-family: "Berlin Sans FB";
    font-size: larger;
    font-weight: normal;
    color: dodgerblue;
}

.viber {
    position: absolute;
    size: 28px;
    margin: -60px 1360px;
    margin-left: 40px 0px;
    white-space: pre;
    font-size: 25px;
    font-family: monospace;
    opacity: 1;
}

.viber i {
    color: blueviolet;
}

/*.parDesc{*/
/*    height:20px;*/
/*    background-color: silver;*/
/*    font-family: Arial Helvetica;*/
/*    font-weight: bolder;*/
/*    display: block;*/
/*}*/

/*.text{*/
/*    font-size: 19px;*/
/*    font-family: "DejaVu Sans Mono";*/
/*    padding: 20px;*/
/*}*/

.nothFound {
    padding-top: -790px;
    padding-left: 380px;
}