<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/goods.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/CSS/css/fontawesome/all.min.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{images/icon2.png}">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <title>Cosmo-Electronics</title>

    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 50,
                max: 1000,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount1").val(ui.values[0]);
                    $("#amount2").val(ui.values[1]);
                }
            });
            $("#amount1").val($("#slider-range").slider("values", 0));
            $("#amount2").val($("#slider-range").slider("values", 1));
        });


    </script>
    <style>
        .page {
            margin-left: 700px;
        --> margin-top: 50px;
        -->
        }
    </style>
</head>
<body>
<header>

    <div class="header_bg"></div>

    <a th:href="@{/mainpage}" class="logo"><img th:src="@{/images/logo1.png}"></a>

    <div class="header_item headerlogo"></div>
    <div class="mycart-desc"><p>My Cart</p></div>
    <a th:href="@{/myCart}" class="cart"> <i class="fas fa-cart-arrow-down"></i> </a>
    <!--    <a th:href="@{/myCart}"> <button class="cart">My Cart</button> </a>-->
    <!--    <a href="registration.html" class="registration">Registration</a>-->
    <!--    <a href="#" class="userAccount">Account </a><br>-->
    <div class="phone" align="right"><i class="fa fa-phone"></i> 022-77-43-16</div>
    <div class="viber" align="right"><i class="fab fa-viber"></i> 022-78-34-16</div>
    <div class="d5">
    </div>
    <div class="menu-back">
        <div class="border">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/mainpage}">Main page</a></li>
                    <li><a th:href="@{/list}">Goods</a></li>
                    <li><a th:href="@{/delivery}">Delivery</a></li>
                    <li><a th:href="@{/aboutUs}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="shopBody">
    <div class="sidebar">
        <div class="filtertitle">Filter</div>
        <div class="content">
            <form th:object="${filterObj}" th:method="post" th:action="@{/filter}">
                <div class="title1">
                    <H3>Price</H3>
                </div>
                <div class="price">
                    <div id="slider-range"></div>
                    <div class="output">
                        <p>

                            <input type="text" id="amount1" th:field="*{minPrice}"
                                   readonly style="border:0; color:#f6601b; font-weight:bold;">
                            --
                            <input type="text" id="amount2" th:field="*{maxPrice}"
                                   readonly style="border:0; color:#f66020; font-weight:bold;">
                        </p>
                    </div>
                </div>


                <div class="category">
                    <div class="title2">
                        <H3>Categories</H3>
                    </div>
                    <div class="cat">
                        <ul th:each="categ : ${categoryList}">
                            <input type="checkbox" id="category" name="category" th:field="*{category}"
                                   th:value="${categ.getCat_id().intValue()}"
                                   checked="checked"/>
                            <label th:text="${categ.getCat_desc()}" for="category"></label>
                            <!--                        <input type="checkbox" id="PC" name="PC" value="PC" checked>-->
                            <!--                        <label for="PC">PC</label>-->
                        </ul>
                    </div>
                </div>

                <div class="firmpanel">
                    <div class="firmtitle">
                        <h3>Firm</h3>
                    </div>
                    <div class="box">
                        <select th:field="*{producer}">
                            <option th:each="prod:${producerList}"
                                    th:value="${prod.getProd_id()}"
                                    th:text="${prod.getFirmDesc()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="pricesort">
                    <div class="title3">
                        <h3>Price Sort</h3>
                    </div>
                    <p>
                        <input type="radio"
                               id="asc"
                               name="radio-group"
                               checked th:field="*{sort}"
                               th:value="ASC">
                        <label for="asc">Ascending</label>
                    </p>
                    <p>
                        <input type="radio"
                               id="descend"
                               name="radio-group"
                               th:field="*{sort}"
                               th:value="DESC">
                        <label for="descend">Descending</label>
                    </p>
                </div>
                <input type="submit" value="Find" name="pricesubmit" id="prsub">
            </form>
        </div>
    </div>
    <!---->

    <div th:if="!${filtered}">
        <div class="goods-panel">
            <div th:each="product : ${allProducts.content}" style="margin: 25px; display:inline-block">
                <div class="panel" style="border: dodgerblue 2px solid;">
                    <div class="sale">
                        <img th:src="@{/images/sale2.png}">
                    </div>
                    <div class="saletitle">sale</div>
                    <a href="#" class="img">
                        <img th:src="@{/images/noutexample.jpg}" alt="nout">
                    </a>
                    <a class="product-link" th:text="${product.getDevice_desc()}"></a>
                    <span class="price w-c-price" th:text="${product.getPrice()}"></span>
                    <div class="AddToCart">
                        <a th:href="@{'/addToCart/' + ${product.getDev_id()}}">
                            <button name="addToCart"> Add to Cart</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page">
            <nav aria-label=".pagination-lg">
                <ul class="pagination pagination-lg">

                    <li class="page-item" th:each="i : ${#numbers.sequence(0, allProducts.getTotalPages()-1)}">
                        <a class="page-link" th:href="@{/list/(page=${i})}" th:text="${i}"></a></li>

                </ul>
            </nav>
        </div>
    </div>


    <div th:if="${filtered}">

        <!--    <H2 th:if="${#lists.isEmpty(filtredProducts)}" class="nothFound"> Nothing found!</H2>-->
        <!--    <div th:if="${not #lists.isEmpty(filtredProducts)}">-->
        <div class="goods-panel">
            <H2 th:if="${#lists.isEmpty(filtredProducts)}" class="nothFound"> Nothing found!</H2>
            <div th:if="${not #lists.isEmpty(filtredProducts)}">
                <div th:each="product : ${filtredProducts}" style="margin: 25px; display:inline-block">
                    <div class="panel" style="border: dodgerblue 2px solid;">
                        <div class="sale">
                            <img th:src="@{/images/sale2.png}">
                        </div>
                        <div class="saletitle">sale</div>
                        <a href="#" class="img">
                            <img th:src="@{/images/noutexample.jpg}" alt="nout">
                        </a>
                        <a class="product-link" th:text="${product.getDevice_desc()}"></a>
                        <span class="price w-c-price" th:text="${product.getPrice()}">
        </span>
                        <div class="AddToCart">
                            <a th:href="@{'/addToCart/' + ${product.getDev_id()}}">
                                <button name="addToCart"> Add to Cart</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>

<div class="footermenu1">
    <br/>
    <H3 id="t">For Customer</H3>
    <ul>
        <li type="circle"><a href="#" title="How to place an orders on the site">How to place an orders on the site</a>
        </li>
        <br/>
        <li type="circle"><a href="#" title="Delivery">Delivery</a></li>
        <br/>
        <li type="circle"><a href="#" title="Installment and loan">Installment and loan</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bonus Card">Bonus Card</a></li>
        <br/>
        <li type="circle"><a href="#" title="Bank transfer payment">Bank transfer payment</a></li>
    </ul>
</div>
<div class="footermenu2">
    <h3 id="t2">Services</h3>
    <ul>
        <li type="circle"><a href="#" title="warranty service">Warranty service</a></li>
        <br/>
    </ul>
</div>


<div class="footermenu3">
    <h3 id="t3">About company</h3>
    <ul>
        <li type="circle"><a href="#" title="Contacts">Contacts</a></li>
        <br/>
        <li type="circle"><a href="#" title="Work in our company">Work in our company</a></li>
        <br/>
        <li type="circle"><a href="#" title="About us">About us</a></li>
    </ul>
</div>


<div class="footermenu4">
    <h3 id="t4">Payment Methods</h3>
    <img th:src="@{/images/mastercard.png}" id="master">
    <img th:src="@{/images/visa.png}" id="visa">
    <img th:src="@{/images/webmoney.png}" id="webmoney">
</div>

<div class="footer2">
    <p>Copyright Cosmo-Electronics 2019-2020 </p>
</div>

<h3 id="t5">Join Us</h3>


<div class="mycontainer">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-vk"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
</div>
</body>
</html>
